body {
    background: url(https://cdn.architextures.org/textures/24/5/sand-j9sy8a.jpg);
    background-size: 75%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}
#sky {
    background: linear-gradient(DeepSkyBlue, LightSkyBlue, AliceBlue);
     height: 50%;
     width: 100%;
}



#sun {
    font-size: 70px;
    position: absolute;
    top: 0px;
    left: 10px;
}

#tree {
    font-size: 250px;
    position: absolute;
    top: 200px;
    left: 0px;
}

#cactus {
    font-size: 150px;
    position: absolute;
    top: 350px;
    left: 200px;
}
#desert {
    font-size: 300px;
    position: absolute;
    top: 200px;
    left: 500px;
}
#mountain {
    font-size: 290px;
    position: absolute;
    top: 200px;
    left: 900px;
}
#airplane {
    font-size: 100px;
    position: absolute;
    top: 20px;
    left: 900px;
}