body {
    background: url(https://cdn.architextures.org/textures/23/8/calacatta-gold-none-vhg8u9.jpg);
    background-size: 75%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}
#sky {
    background: linear-gradient(DeepSkyBlue, LightSkyBlue, AliceBlue);
     height: 60%;
}