body {
    background: url(https://cdn.architextures.org/textures/23/8/calacatta-gold-none-vhg8u9.jpg);
    background-size: 75%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}
#sky {
    background: linear-gradient(DeepSkyBlue, LightSkyBlue, AliceBlue);
     height: 60%;
}



#sun {
    font-size: 70px;
    position: absolute;
    top: 0px;
    left: 10px;
}

#tree {
    font-size: 150px;
    position: absolute;
    top: 300px;
    left: 10px;
}

#cactus {
    font-size: 130px;
    position: absolute;
    top: 330px;
    left: 300px;
}
#casino {
    font-size: 100px;
    position: absolute;
    top: 350px;
    left: 500px;
}